{% if wo_breadcrumbs()|length %}

    {% for b in breadcrumbs %}
        
        {% if b.url and not loop.last %}<a href="{{ b.url }}">{% endif %}
        {{ b.text | trans(b.translationParameters, translation_domain, locale) }}
        {% if b.url and not loop.last %}</a>{% endif %}
        
        {% if separator and not loop.last %}
          <span class='separator'>{{ separator }}</span>
      {% endif %}
    
    {% endfor %}  
  
{% endif %}