<style>
    .arrows_block{
        background: url(bundles/mainsite/images/bg_arrow_block.png);
        display: block;
        height: 72px;
        width: 100%;
    }
    .arrows_block div{
        background: url(bundles/mainsite/images/arrow.png) no-repeat transparent right;
        float:left;
        height: 71px;
        padding: 0 10px;
        border: 0px solid #222;
        margin: 0 10px;
        
    }
</style>
<div class="arrows_block">
    <div>
        1. Who?
    </div>
    <div>
        2. What?
    </div>
    <div>
        3. Why?
    </div>
    <div>
        4. How?
    </div>
    <div>
        5. Then?
    </div>
    <div>
        6. How mutch?
    </div>
    <div>
        7. total
    </div>
</div>
