{% extends 'MainSiteBundle::layout.html.twig' %}
{% block menu %}
    {{parent()}}
{% endblock %}
{% block body %}
<style>
    .arrows_block{
        background: url(bundles/mainsite/images/bg_arrow_block.png);
        display: inline-block;
        height: 71px;
        float:left;
    }
    .arrows_block > div{
        color: #fff;
        background: url(bundles/mainsite/images/arrow.png) no-repeat transparent;
        background-position: left;
        float:left;
        height: 71px;
        padding-top: 0px;
        padding-bottom: 0;
        padding-right: 10px;
        padding-left: 35px;
        border: 0px solid #222;
        margin: 0;
        
    }
    .arrows_block div.first_arrow{
        background: none;
        padding-left: 10px;
    }
    div.last_arrow{
        background: url(bundles/mainsite/images/arrow_last.png) no-repeat transparent;
        height: 71px;
        width: 28px;
        float:left;
    }
    .arrows_block div div{
        margin-top: 10px;
        display: block;
    }
    .clear{
        clear: both;
    }
    .content{
        position: relative;
        width: 80%;
        height: 500px;
        overflow-y: scroll;
    }
    #info1, #info2,#info3, #info4{
        font-weight: bold;
    }
</style>

    
<div class="arrows_block">
    <div class="first_arrow">
        <div> <a rel = "info1"> 1. Who? </a> </div>
    </div>
    <div>
        <div> <a rel = "info2"> 2. What? </a> </div>
    </div>
    <div>
        <div> <a rel = "info3"> 3. Why? </a> </div>
    </div>
    <div>
        <div> <a rel = "info4"> 4. How? </a> </div>
    </div>
    <div>
        <div> <a rel = "info5"> 5. Then? </a> </div>
    </div>
    <div>
        <div> <a rel = "info6"> 6. How mutch? </a> </div>
    </div>
    <div>
        <div> <a rel = "info7"> 7. total </a> </div>
    </div>
    
</div>
<div class="last_arrow"></div>
<div class="clear"></div>

<div class="content">
    Сюжет

Сатана, представившийся в произведении как Воланд, странствует по миру с целями, одному ему известными, время от времени останавливаясь в разных городах и селениях. Во время весеннего полнолуния путешествие приводит его в Москву 1930-х годов — место и время, где никто не верит ни в Сатану, ни в Бога, отрицают существование в истории Иисуса Христа. В Москве, правда, живёт один человек (Мастер), написавший роман о последних днях Иешуа и отправившем его на казнь римском прокураторе Понтии Пилате; но и этот человек ныне пребывает в сумасшедшем доме, куда его привело в том числе трепетное отношение к своему произведению, подвергнутому жёсткой критике со стороны цензоров и современников-литераторов. Роман он сжёг.

Во время путешествия Воланда сопровождает его свита: (Коровьев, кот Бегемот, Азазелло, Гелла). Всех людей, вошедших в контакт с Воландом и его спутниками, преследуют наказания за свойственные им грехи и грешки: взяточничество, пьянство, эгоизм, жадность, равнодушие, ложь, грубость, имитацию деятельности… Зачастую эти наказания, хоть и сверхъестественные по своей природе, являются логическим продолжением самих проступков (так, например, Никанор Иванович Босой, взявший у Коровьева взятку рублями, задержан за спекуляцию валютой, потому что эти рубли магическим образом превратились в доллары). Воланд вместе со всей своей свитой селится в «нехорошей квартире» на Садовой — в квартире, откуда уже в течение нескольких лет исчезают люди (исчезают, правда, без помощи сверхъестественных сил, так как описание этих таинственных исчезновений является намёком Булгакова на репрессии 30-х годов).

Маргарита, жена «известного инженера», любовница Мастера, потерявшая его след после того, как он попал в сумасшедший дом, мечтает только об одном — найти и вернуть его. Надежду на исполнение этой мечты даёт Маргарите Азазелло — для этого она должна оказать Воланду одну услугу. Маргарита не сразу, но соглашается, и знакомится с Воландом и всей его свитой. Воланд просит её стать королевой бала, который даёт он в эту ночь. В ночь с пятницы на субботу начинается бал у Сатаны. Гостями на бал не попадают простые грешники, — ими оказываются только истинные, идейные злодеи.

Сотрудники НКВД (этот комиссариат нигде не назван в романе своим именем) пытаются разобраться в деле об исчезновении всей верхушки театра «Варьете», и главное — в происхождении валюты, на которую мистическим образом поменялась вся собранная в кассе театра рублёвая наличность. Следы быстро выводят следователей к «нехорошей квартире», они её неоднократно обыскивают, но всё время застают пустой и опечатанной.

Другая сюжетная линия романа, развивающаяся параллельно первой, — непосредственно сам роман о Понтии Пилате, написанный Мастером. В нём рассказывается история Понтия Пилата, который не решился выступить против Синедриона и спасти осужденного на казнь Иешуа Га-Ноцри (так в романе зовут персонажа, основным прообразом которого явился Иисус Христос).

В конце романа обе линии пересекаются: Мастер освобождает героя своего романа, и Понтий Пилат, после смерти столько времени томившийся на каменной плите со своим преданным псом Бангой и хотевший всё это время закончить прерванный разговор с Иешуа, наконец обретает покой и отправляется в бесконечное путешествие по потоку лунного света вместе с Иешуа. Мастер с Маргаритой обретают в загробном мире данный им Воландом «покой» (отличающийся от упоминаемого в романе «света» — другого варианта загробной жизни).
Место и время основных событий романа

Все события в романе (в его основном повествовании) разворачиваются в Москве 30-х годов, в мае, с вечера среды до ночи на воскресенье, причём на эти дни приходилось полнолуние. Год, в котором происходило действие, установить трудно, так как в тексте имеются противоречивые указания на время — возможно, сознательные, а, возможно, как следствие незаконченной авторской правки.

В ранних редакциях романа (1929—1931 годы) действие романа отодвинуто в будущее, упоминаются 1933, 1934 и даже 1943 и 1945 годы, события происходят в различные периоды года — от начала мая до начала июля. Изначально автор относил действие на летний период. Однако, скорее всего, чтоб соблюсти своеобразную канву повествования, время было перенесено с лета на весну (см. гл. 1 романа «Однажды весной…» И там же, далее: «Да, следует отметить первую странность этого страшного майского вечера»).

В эпилоге романа полнолуние, во время которого происходит действие, названо праздничным, при этом напрашивается версия о том, что под праздником имеется в виду Пасха, наиболее вероятно — православная Пасха. Тогда действие должно начинаться в среду Страстной недели, которая выпала на 1 мая в 1929 году. Сторонники этой версии выдвигают также следующие аргументы:

    1 мая — это день международной солидарности трудящихся, широко отмечавшийся в то время (при том, что совпал в 1929 году со страстной неделей, то есть, с днями строгого поста). Усматривается некая горькая ирония в том, что Сатана прибывает в Москву именно в этот день. К тому же ночь на 1 мая — Вальпургиева ночь, время проведения ежегодного шабаша ведьм на горе Брокен, откуда, значит, Сатана непосредственно и прибыл.
    мастер в романе — «человек лет примерно тридцати восьми». Булгакову исполнилось тридцать восемь 15 мая 1929 года.

Следует, однако, указать, что 1 мая 1929 года луна была уже на убыли. Пасхальное полнолуние вообще никогда не приходится на май. Кроме того, в тексте имеются прямые указания на более позднее время:

    в романе упоминается троллейбус, пущенный по Арбату в 1934 году, а по Садовому кольцу — в 1936.
    архитекторский съезд, упомянутый в романе, состоялся в июне 1937 года (I съезд архитекторов СССР).
    очень тёплая погода установилась в Москве в начале мая 1935 года (весенние полнолуния тогда пришлись на середину апреля и середину мая). В 1935 году происходит действие в экранизации 2005 года.

События «Романа о Понтии Пилате» происходят в римской провинции Иудея во время правления императора Тиберия и управления от имени римской власти Понтием Пилатом, в день перед иудейской Пасхой и последующую ночь, то есть 14—15 нисана по еврейскому календарю. Таким образом, время действия — предположительно, начало апреля 29 или 30 года н. э.
Трактовка романа
Question book-4.svg
	В этом разделе не хватает ссылок на источники информации.
Информация должна быть проверяема, иначе она может быть поставлена под сомнение и удалена.
Вы можете отредактировать эту статью, добавив ссылки на авторитетные источники.
Эта отметка установлена 12 мая 2011.
	

<div id="info1">Высказывались</div> соображения, что замысел романа возник у Булгакова после посещения редакции газеты «Безбожник»[2].

Также отмечалось, что в первой редакции романа сеанс чёрной магии датировался 12 июня — 12 июня 1929 года в Москве начался первый съезд советских безбожников, с докладами Николая Бухарина и Емельяна Губельмана (Ярославского)[3].

Существует несколько мнений о том, каким образом следует трактовать это произведение.
Ответ на воинствующую атеистическую пропаганду

Одна из возможных трактовок романа — ответ Булгакова поэтам и писателям, устроившим, по его мнению, в Советской России пропаганду атеизма и отрицание существования Иисуса Христа как исторической личности. В частности, ответ на печатание в газете «Правда» того времени антирелигиозных стихов Демьяна Бедного.

Как следствие подобных действий со стороны воинствующих безбожников роман стал ответом, отповедью. Неслучайно, что в романе, как в московской части, так и в иудейской, идет своеобразное карикатурное обеление образа дьявола. Неслучайно в романе присутствие персонажей из еврейской демонологии — как бы в противовес отрицанию существования Бога в СССР.

По мнению одного из исследователей творчества Булгакова иеромонаха Димитрия Першина, замысел написать роман о дьяволе возникает у писателя после посещения редакции газеты "Безбожник" в 1925 г. В своем романе Булгаков пытался сконструировать некую апологию, доказывающую существование духовного мира. Эта попытка, однако, строится от противного: роман показывает реальность присутствия в мире зла, демонических сил. При этом писатель ставит вопрос: «Как же так, если эти силы существуют, и мир находится в руках Воланда и его компании, то почему мир еще стоит?».[4]

Протодиакон Андрей Кураев считает «пилатовские главы» кощунственными, но советует не переносить эту оценку на всё произведение. По его мнению, образ Иешуа, вдохновлённый Воландом и описанный мастером, — пародия на атеистическое (и толстовское) представление о «сладеньком Исусике», показывающая, что автор подобного рода советских атеистических брошюрок — сатана (Воланд). В книге «„Мастер и Маргарита“: за Христа или против?»[5] о. Андрей сравнивает окончательный вариант романа с черновыми, указывая на то, что в ранних версиях именно Воланд выступал в роли автора романа, в то время как мастер был введён в роман значительно позже.

А. В. Кураев именует роман в романе (ершалаимскую историю) «Евангелием от сатаны»[6]. Действительно, в ранних редакциях романа первая глава воландовского рассказа именовалась «Евангелие от Воланда» и «Евангелие от дьявола»[7] (кстати, в первых редакциях Бездомному в больнице являлся и досказывал ершалаимскую историю не мастер, а сам Воланд; также в ранней редакции Бездомный, пораженный осведомленностью Воланда о ершалаимских событиях, предлагал ему: «А вы напишите своё Евангелие», на что Воланд отвечал: «Евангелие от меня? Хи-хи… Это интересно»)[3]. Действительно, в воландовской ершалаимской истории очевидно анти-евангельское и откровенно талмудическое изложение жизни Христа («Иешуа Га-Ноцри» — имя Христа в Талмуде; отрицание рождения в Вифлееме, происхождения от царя Давида, въезда в Иерусалим на молодом осле, вообще отрицание божественности Иисуса Христа и отношения ветхозаветных пророчеств именно к Нему — основные пункты талмудического рассказа о Христе; они же очевидны, например, в творчестве Демьяна Бедного[8]), в чём можно усмотреть пародию и обличение Булгаковым советской антихристианской пропаганды.

С другой стороны, А. В. Кураев пишет:

    В определённом смысле, Христос был именно таким, как булгаковский Иешуа га Ноцри из «Мастера и Маргариты». Таким был «имидж» Христа, таким Он казался толпе. И с этой точки зрения роман Булгакова гениален: он показывает видимую, внешнюю сторону великого события — пришествия Христа-Спасителя на Землю, обнажает скандальность Евангелия, потому что действительно, нужно иметь удивительный дар Благодати, совершить истинный подвиг Веры, чтобы в этом запыленном Страннике без диплома о высшем раввинском образовании опознать Творца Вселенной.

    — Кураев А. В. «Мастер И Маргарита»: за Христа или против?

<div id="info2">Герметическое толкование романа</div>

Существует так называемая герметическая трактовка романа, в которой указывается на следующее:

Одна из основных идей — злое начало (сатана) неотделимо от нашего мира так же, как нельзя представить свет без тени. Сатана (а равно и светлое начало — Иешуа Га-Ноцри) живут прежде всего в людях.

Иешуа не сумел определить предательства Иуды (несмотря на намёки Понтия Пилата) в том числе потому, что видел в людях только светлую составляющую. И не смог защитить себя потому, что не знал, от чего и как.

Кроме того, в указанной трактовке имеется утверждение, что М. А. Булгаков по-своему истолковал идеи Л. Н. Толстого о непротивлении злу насилием, введя в роман именно такой образ Иешуа.
Масонская трактовка романа

Неоднократно упоминалось в различных исследованиях о том, что сюжет романа изобилует масонскими символами, довольно-таки часто перекликается с элементами ритуальной практики масонов, которые, как утверждается, берут начало в мистериях древнего Египта и древней Греции, и что это характерно показывает наличие неких знаний Михаила Булгакова о масонстве[9]. Михаил Булгаков мог почерпнуть и отобразить подобные знания от своего отца Афанасия Булгакова, из его работы «Современное Франкмасонство»[10].

Сама трактовка заключена в скрытых аллегорических формах повествования. Булгаковым подаётся нечто связанное с масонством в завуалированной, не явной и полускрытой форме. Таким моментом является преображение поэта Бездомного из человека невежественного в человека образованного и уравновешенного, нашедшего себя и познавшего нечто большее, чем писание стишков на антирелигиозную тему. Тому способствует встреча с Воландом, который является своеобразной отправной точкой в исканиях поэта, прохождению им испытаний и встрече с Мастером, который становится для него духовным наставником[9].

Мастер являет собой образ мастера-масона, завершившего все этапы масонского посвящения. Теперь он учитель, наставник, проводник ищущих Света знаний и истинной духовности. Он автор нравственного труда о Понтии Пилате, который соотносится с зодческой работой, выполняемой масонами в ходе своего познания Королевского Искусства. Он судит обо всём уравновешенно, не позволяя эмоциям одерживать верх над ним и возвращать его в невежественное состояние человека-профана[11].

Маргарита проходит инициацию в одну из мистерий. Всё описание происходящего, те образы которые проходят в череде событий посвящения Маргариты, всё говорит об одном из эллинистических культов, скорее всего о Дионисийских мистериях, так как Сатир предстаёт одним из жрецов совершающим алхимическое соединение воды и огня, которым обуславливается завершение посвящения Маргариты. Фактически, пройдя Большой круг мистерий, Маргарита становится ученицей и получает возможность пройти Малый круг мистерий, для прохождения которого она приглашается на Бал Воланда. На Балу она подвергается множеству испытаний, что так свойственно для ритуалов посвящения масонов. По завершению которых Маргарите и сообщается, что её испытывали и что она прошла испытания. Окончанием Бала является ужин при свечах, в кругу близких. Это весьма характерное символическое описание «Застольной ложи» (агапы) масонов. К слову сказать, к членству в масонских ложах допускаются женщины в чисто женских ложах или смешанных, таких как Международный смешанный масонский Орден «Право человека»[11].

Есть также ещё ряд более мелких эпизодов, которые показывают трактовки и описания масонских ритуалов и общей инициатической практики в масонских ложах.
Философская трактовка

В данной трактовке романа выделяется основная идея — неотвратимости наказания за деяния. Не случайно сторонники этой трактовки указывают, что одно из центральных мест в романе занимают деяния свиты Воланда до бала, когда наказаниям подвергаются мздоимцы, распутники и прочие негативные персонажи, и сам суд Воланда, когда каждому воздается по вере его.
Трактовка А. Зеркалова

Существует оригинальная трактовка романа, предложенная писателем-фантастом и литературным критиком А. Зеркаловым-Мирером в книге «Этика Михаила Булгакова»[12] (издана в 2004 г.). По версии Зеркалова, Булгаков замаскировал в романе «серьёзную» сатиру на нравы сталинского времени, что без всяких расшифровок было ясно первым слушателям романа, которым читал сам Булгаков. По мнению Зеркалова, Булгаков после едкого «Собачьего сердца» просто не мог спуститься до сатиры в стиле Ильфа-Петрова. Однако после событий вокруг «Собачьего сердца» Булгакову пришлось сатиру тщательнее маскировать, расставляя для понимающих людей своеобразные «пометки». Стоит отметить, что в данной трактовке получили правдоподобное объяснение некоторые нестыковки и неясности романа. К сожалению, данный труд Зеркалов оставил незаконченным.
А. Барков: «Мастер и Маргарита» — роман о М. Горьком

Согласно выводам литературоведа А. Баркова, «Мастер и Маргарита» — это роман о М. Горьком, изображающий крах русской культуры после Октябрьской революции, причём в романе изображена не только действительность современной Булгакову советской культуры и литературной среды во главе с воспетым с таким титулом советскими газетами «мастером социалистической литературы» М. Горьким, возведенным на пьедестал В. Лениным, но и события Октябрьской революции и даже вооружённого восстания 1905 года. Как раскрывает А. Барков текст романа, прототипом мастера послужил М. Горький, Маргариты — его гражданская жена, артистка МХАТ М. Андреева, Воланда — Ленин, Латунского и Семплеярова — Луначарский, Левия Матвея — Лев Толстой, театра Варьете — МХАТ[3].

А. Барков подробно раскрывает систему образов, приводя указания романа на прототипов персонажей и связь между ними в жизни. Касательно основных персонажей, указания следующие:

 <div id="info3">   Мастер:</div>

1) В 1930-х годах титул «мастер» в советской публицистике и газетах прочно закрепился за М. Горьким, чему Барков приводит примеры из периодики. Титул «мастер» в качестве олицетворения высшей степени творца эпохи соцреализма, писателя, способного выполнить любой идеологический заказ, был введён и продвигался Н. Бухариным и А. Луначарским[13].

2) В романе есть указания на год происходящих событий — 1936 год. Несмотря на многочисленные указания на май как на время событий, в отношении смерти Берлиоза и мастера делаются указания на июнь (цветущие липы, кружевная тень акаций, в ранних редакциях присутствовала клубника). В астрологических фразах Воланда исследователь находит указания на второе новолуние майско-июньского периода, которое в 1936 году пришлось на 19 июня. Это день, когда вся страна прощалась с умершим днём ранее М. Горьким. Тьма, накрывшая город (как Ершалаим, так и Москву) — это описание произошедшего в этот день, 19 июня 1936 года, солнечного затмения (степень закрытия солнечного диска в Москве составила 78 %), сопровождавшегося понижением температуры и сильным ветром (в ночь на этот день над Москвой была сильнейшая гроза), когда тело Горького было выставлено в Колонном зале Кремля. Роман также содержит детали его похорон («Колонный зал», вынос тела у Кремля (Александровский сад) и др.) (отсутствовали в ранних редакциях; появились после 1936 года).

3) Написанный «мастером» роман, представляющий собой неприкрыто талмудическое (и вызывающе анти-евангельское) изложение жизни Христа, является пародией не только на творчество и кредо М. Горького, но и Л. Толстого, а также обличает кредо всей советской антирелигиозной пропаганды.

    Маргарита:

1) «готический особняк» Маргариты (адрес легко устанавливается из текста романа — Спиридоновка) — это особняк Саввы Морозова, с которым жила до 1903 года Мария Андреева, артистка МХАТ и марксистка, возлюбленная С. Морозова, которой он передавал огромные суммы, использованные ею для нужд партии Ленина. С 1903 года М. Андреева была гражданской женой М. Горького.

2) В 1905 году, после самоубийства С. Морозова, М. Андреева получила завещанный на её имя страховой полис С. Морозова на сто тысяч рублей, десять тысяч из которых она передала М. Горькому на оплату его долгов, а остальное отдала на нужды РСДРП (в романе мастер находит «в корзине с грязным бельем» «лотерейный билет», по которому выигрывает сто тысяч рублей (на которые начинает «писать свой роман», то есть разворачивает масштабную литературную деятельность), из них десять тысяч передаёт Маргарите).

3) Дом с «нехорошей квартирой» во всех редакциях романа проходил с дореволюционной сплошной нумерацией Садового кольца, что указывает на дореволюционные события. «Нехорошая квартира» в романе первоначально фигурировала с номером 20, а не 50. По географическим указаниям первых редакций романа, это — квартира № 20 на Воздвиженке дом 4, где во время восстания 1905 года проживали М. Горький и М. Андреева, где находилась база подготовки вооружённых боевиков-марксистов, созданная М. Андреевой, и где Горького и Андрееву несколько раз посещал В. Ленин (о нескольких его пребываниях в этом доме в 1905 году сообщает мемориальная табличка на доме: Воздвиженка, 4). Здесь же находилась «домработница» «Наташа» (партийная кличка одной из подручных Андреевой) и имели место эпизоды со стрельбой, когда один из боевиков, занимаясь с оружием, прострелил стену в соседнюю квартиру (эпизод с выстрелом Азазелло).

4) Музей, упомянутый в монологе мастера касательно его жены (« — Вы были женаты? — Ну да, вот же я и щёлкаю… на этой… Вареньке, Манечке… нет, Вареньке… ещё платье полосатое… музей»), отсылает к работе Горького и Андреевой в послереволюционные годы в комиссии по отбору музейных ценностей для продажи за границу; Андреева отчитывалась о продаже музейных драгоценностей в Берлин лично Ленину. Упомянутые мастером имена (Манечка, Варенька) отсылают к реальным женщинам Горького — Марии Андреевой, Варваре Шайкевич и Марии Закревской-Бенкендорф.

5) Фалернское вино, упомянутое в романе, отсылает к итальянской области Неаполь-Салерно-Капри, тесно связанной с биографией Горького, где он провёл несколько лет жизни, и где Горького и Андрееву неоднократно посещал Ленин, а также с деятельностью на Капри школы боевиков РСДРП, активное участие в работе которой принимала часто находившаяся на Капри Андреева. К этому же отсылает и тьма, пришедшая именно со Средиземного моря (кстати, затмение 19 июня 1936 года действительно началось над территорией Средиземного моря и прошло по всей территории СССР с запада на восток).

<div id="info4">Воланд </div> — из системы созданных в романе образов проистекает жизненный прототип Воланда — это В. И. Ленин, лично участвовавший в отношениях М. Андреевой и М. Горького и использовавший Андрееву для влияния на Горького.

1) Мастера и Маргариту женит Воланд, на великом балу у сатаны — в 1903 году (после знакомства Андреевой с Горьким) Ленин в Женеве лично отдал Андреевой распоряжение теснее вовлечь Горького в работу РСДРП.

2) В конце романа Воланд со свитой стоит на здании дома Пашкова, царствуя над ним. Это здание Государственной библиотеки имени Ленина, значительная часть которой наполнена трудами Ленина (в ранних редакциях романа Воланд, объясняя причину своего приезда в Москву, вместо упоминания трудов Герберта Аврилакского, говорит: «Здесь в государственной библиотеке большое собрание трудов по чёрной магии и демонологии»; также в ранних редакциях романа в финале пожар охватывал не некоторые здания, а всю Москву, а Воланд с компанией спускался с крыши в здание государственной библиотеки и из него выходил в город для наблюдения за пожаром Москвы, таким образом символизируя распространение катастрофических событий из здания библиотеки, носящей имя Ленина и в значительной степени наполненной его трудами).

Таким образом, в трактовке А. Баркова, в романе показана подготовка и проведение Октябрьской революции, культурный переворот континентального масштаба (и космического влияния), становление в СССР новой созданной В. Лениным советской культуры, возведение Лениным на культурный пьедестал М. Горького, а также закат, гибель (физическая и духовная) М. Горького[3].
<div style="height: 500px;"></div>
</div>

<script>

    $( '.content' ).animate({ scrollTop: 0 }, 0);

    var info = [];
    info['#info1'] = $( "#info1" ).position().top;
    info['#info2'] = $( "#info2" ).position().top;
    info['#info3'] = $( "#info3" ).position().top;
    info['#info4'] = $( "#info4" ).position().top;

    console.log( info );

    $( "a" ).live( "click", function(){

        var element = "#" + $( this ).attr( 'rel' );

        $( '.content' ).stop().animate({
            scrollTop: info[element]
        }, 500);

        return false;
     
    });

</script>

{% endblock %}