{% extends 'MainSiteBundle::layout.html.twig' %}
{% block css %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset ( 'bundles/mainsite/css/style_faq.css' ) }}" />
{% endblock %}
{% block menu %}
    {{parent()}}
{% endblock %}
{% block body %}
<style>

</style>
<script> 


</script>
<selector class="faq">
    <div class="bg_shadow"></div>
    
    {{ entity.content | raw }}
</selector>
{% endblock %}