<div id="clear"></div><div id="container">
	<div id="content">
<div id="scrollPanel">
<div id="line">
<table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody>
        <tr>
            <td width="11" height="76" background="/bundless/mainsite/images/t_l.png"></td>
            <td height="76" background="/bundles/mainsite/images/t_o.png" align="center"><a href="#info1">1. Кто? <br /><span>QWER-team.</span></a></td>
            <td width="26" height="76" background="/bundles/mainsite/images/t_s.png"></td>
            <td height="76" background="/bundles/mainsite/images/t_o.png" align="center"><a href="#info2">2. Что? <br /><span>Web проекты.</span></a></td>
            <td width="26" height="76" background="/bundles/mainsite/images/t_s.png"></td>
            <td height="76" background="/bundles/mainsite/images/t_o.png" align="center"><a href="#info3">3. Зачем? <br /><span>Цель – Super проект</span></a></td>
            <td width="26" height="76" background="/bundles/mainsite/images/t_s.png"></td>
            <td height="76" background="/bundles/mainsite/images/t_o.png" align="center"><a href="#info4">4. Как? <br /><span>Agile, SCRUM, XP</span></a></td>
            <td width="26" height="76" background="/bundles/mainsite/images/t_s.png"></td>
            <td height="76" background="/bundles/mainsite/images/t_o.png" align="center"><a href="#info5">5. Чем? <br /><span>Инструменты</span></a></td>
            <td width="26" height="76" background="/bundles/mainsite/images/t_s.png"></td>
            <td height="76" background="/bundles/mainsite/images/t_o.png" align="center"><a href="#info6">6. Сколько? <br /><span>Цены – среднерыночные!</span></a></td>
            <td width="26" height="76" background="/bundles/mainsite/images/t_s.png"></td>
            <td height="76" background="/bundles/mainsite/images/t_o.png" align="center"><a href="#info7">7. Вывод: <br /><span>Давайте работать!</span></a></td>
            <td width="30" height="76" background="/bundles/mainsite/images/t_r.png"></td>
        </tr>
	</tbody>
</table>
</div>
</div>
</div>
</div>

<div id="container">
	<div id="content">
		<div id="info1" style="padding-top:230px;"><div class="name">1. Кто? QWER-team.</div>
			<div class="text">
            <div class="foto_bg_right"><img src="images/Kto.jpg" width="341" height="186" alt="Кто? QWER-team." border="0" class="foto"/></div><div style="clear:left"></div>
            <p>Если «Система – это совокупность компонентов, обладающая такими свойствами, которыми каждый компонент в отдельности не обладает». То «команда» – это люди которые объедены общей целью, способные выполнить задачи, которые каждый из нас в отдельности выполнить не сможет!</p>
            <p>&nbsp;</p>
            <p><b>Мы - Команда</b> – и для нас это действительно важно!  Мы ставим общие интересы и цели выше личных! Например, была ситуация, когда в связи с запуском крупного проекта, 31 декабря люди работали до 19.30, а 2 января, в 9.00 уже были на работе! (Кстати, я, как менеджер, надеюсь что больше такого не допущу!).</p>
            <p>&nbsp;</p>
            <p><b>Мы -  Команда</b> – и это важно для наших заказчиков! (Помните сценку Райкина про пиджак? К пуговицам претензий нет , к рукавам претензий нет, к ткани претензий нет… так какие могут быть претензии к пиджаку? То что он криво сидит – это уже ваши проблемы ). Мы понимаем, что для тех, кто заказывает наши услуги в первую очередь важен результат. И мы, как команда, можем этот результат гарантировать! </p>
            <p>&nbsp;</p>
            <p><b>Команда</b> – это важно для партнеров!  Важно потому что люди знают, что нашему слову можно верить, потому что мы не остановимся на достигнутом. И не будем уходить от ответственности и спихивать ее друг на друга. А наши доходы будут расти пропорционально нашим усилиям.</p>
            <p>&nbsp;</p>
            <p>В нашей команде, - программисты, специалисты по продвижению сатйов, контент менеджеры, системные администраторы, бизнес аналитики и администраторы БД. С дизайнерами и верстальщиками сотрудничаем на партнерских условиях. И наш менеджмент (в моем лице) руководствуется принципом:</p>
            <p>&nbsp;</p>
            <p>Найдите правильных людей! Потом, что бы вы ни делали, какие бы ошибки ни допускали, люди вытащат вас из любой передряги. В этом и заключается работа руководителя.
Deadline. Роман об управлении проектами.</p>
<p>&nbsp;</p>
			<h1>Мы – Команда!  И это действительно важно!</h1>

				
		  </div>
	</div>     
</div>
</div>
           
<div id="container">
	<div id="content">
		<div id="info2" style="padding-top:230px;"><div class="name">2. Что? Web проекты.</div>
			<div class="text">
				<div class="foto_bg_left"><img src="images/Chto.jpg" width="341" height="186" alt="Кто? QWER-team." border="0" class="foto"/></div><div style="clear:right"></div>
                <h1>Что мы делаем? Мы делаем Интернет проекты!</h1>
                <p>Почему «Интернет»? Потому что считаем, что за сетью будущее! и хотим это светлое будущее приблизить.  Еще 30 лет назад компания  SUN провозгласила: «The Network is the Computer!» или «сеть – это компьютер»… Действительно, сейчас, если электронный «гаджет» не дает возможность выйти в Интернет, то он вообще теряет свой смысл! </p>
            	<p>&nbsp;</p>
                <p>Конечно, наш наибольший приоритет – это  интересные, крупные интернет проекты. Тут конечно надо бы чуть чуть больше чего то написать, что бы оно смотрелось по лучше, а то когда мало тексту, не понятно все и не очень презентабельно =)))</p>
            	<p>&nbsp;</p>
                <p>«Проекты» - потому что, к любому заказу, пусть даже к сайту-визитке, мы относимся как к некому проекту. А у любого проекта, как известно, всегда есть свои цели, задачи, финансовые и временные рамки и т.д.
</p>
            	<p>&nbsp;</p>
                <p>Почему «Интернет»? Потому что считаем, что за сетью будущее! и хотим это светлое будущее приблизить.  Еще 30 лет назад компания  SUN провозгласила: «The Network is the Computer!» или «сеть – это компьютер»… Действительно, сейчас, если электронный «гаджет» не дает возможность выйти в Интернет, то он вообще теряет свой смысл! </p>
            
		  </div>
	</div>     
</div>
</div>
            
<div id="container">
	<div id="content">
		<div id="info3" style="padding-top:230px;"><div class="name">3. Зачем? Наша цель интересный проект</div>
			<div class="text">
				<div class="foto_bg_right"><img src="images/Zachem.jpg" width="341" height="186" alt="Кто? QWER-team." border="0" class="foto"/></div><div style="clear:left"></div>
                <p>Нашу цель – «проект на 1000000$» - не следует понимать буквально! Количество нулей или валюта, или даже прибыль, которую мы получим: для нас большого значения не имеют! Нас вполне может устроить 5 проектов по 200000 евро. :) </p>
            	<p>&nbsp;</p>
                <p>Нам интересно принять участие в реализации крупных, комплексных, Интернет проектах или стартапах, которые помогут нам само реализоваться, сделать себе имя! Пусть мы не получим прибыль в краткосрочной перспективе (нам бы хотя бы затраты «отбить»), зато  мы освоим новые технологии, запустим интересные сервисы, сделаем что-то, что до нас никто, или мало кто,  делал! </p>
            	<p>&nbsp;</p>
                <p>Мы -  Команда – и это важно для наших заказчиков! (Помните сценку Райкина про пиджак? К пуговицам претензий нет , к рукавам претензий нет, к ткани претензий нет… так какие могут быть претензии к пиджаку? То что он криво сидит – это уже ваши проблемы ). Мы понимаем, что для тех, кто заказывает наши услуги в первую очередь важен результат. И мы, как команда, можем этот результат гарантировать! </p>

		  </div>
	</div>     
</div>
</div>

<div id="container">
	<div id="content">
		<div id="info4" style="padding-top:230px;"><div class="name">4. Как? Agile, SCRUM, XP</div>
			<div class="text">
				<div class="foto_bg_left"><img src="images/Kak.jpg" width="341" height="186" alt="Кто? QWER-team." border="0" class="foto"/></div><div style="clear:right"></div>
                <p>Однажды столкнувшись с проблемами качества нашего программного продукта, мы решили что нужно что-то менять.  Причем изменения должны были быть не в области прикладного программирования, а в области «семантики», в подходах, которые мы применяли в процессе разработки!</p>
            	<p>&nbsp;</p>
                <p>Мы приняли решение использовать принципы гибкого и экстремального программирования -  и не ошиблись!  Причем <b>Agile</b>  и <b>XP</b>, - это не модные аббревиатуры, и не религиозные догмы, которым мы слепо следуем. Для нас <b>Agile </b>и <b>XP</b> – это набор рекомендаций, которые помогают нам получить желаемый результат! Тут бы тоже можно было бы что то подписать да по больше по-больше что бы красиво было так что надо думать =)) </p>			<p>&nbsp;</p>
                <p>&nbsp;</p>
                <h1>Суть методологии SCRUM – это:</h1>              
                <ul>
                <ol>
                	<li>Один проект - один постановщик задач <b>(Product Owner)</b></li>
					<li><b>Product Owner</b>  составляет БекЛог  лист <b>(BackLog list)</b> - это функционал <b>(Fitures)</b>, который нужно реализовать,  описаный в понятной форме,  в виде т.н. User Story.</li>
					<li>Разработка ведется порциями (спринтами).   (Обычно спринт – две-три недели).</li>
					<li>Планирование спринта. Составление <b>sprint backlog</b> и КОМАНДА! дает свою оценку времени выполнения каждой пользовательской истории!</li>
					<li>Составляется диаграмма «сгорания» работы <b>(Burndown диаграмма)</b> по оси Х – календарные дни по оси Y – storyPoint, диаграмма учитывает поправочный коэф. (меньше единицы),  т.н. фокус фактор.</li> 
					<li>Задачи распечатываются на бумажных карточках и вывешиваются на доску задач, которая состоит из трех колонок («Нужно сделать» «В работе», «Сделано»). В процессе работы любой может «закрепить» за собой задачу написав на карточке свою фамилию и перевесив ее в колонку «В работе».</li>
					<li>Каждый день, в определенное время, мы проводим <b>Scrum  (StandUp)</b>. StandUp  - это «пятиминутка» (оперативные совещание) - на котором каждый член команды рассказывает о том,  что он сделал вчера, чем собирается заниматься сегодня, и какие возникли трудности в процессе работы.</li>
					<li>Спринт оканчивается демонстрацией т.н. «Демо».</li>
					<li>После демонстрации проводиться ретроспектива.</li>
					<li>«Инженерный» день и планирование следующего спринта.</li>
</ol>
				</ul>
            	<p>&nbsp;</p>
                <h1>Наиболее важные (с нашей точки зрения) аспекты XP программирования:</h1>
                <ul>
                	<li>Заказчик всегда рядом (Whole team, Onsite customer)</li>
                	<li>Парное программирование (Pair programming)</li>
                	<li>Коллективное владение кодом</li>
                	<li>Частые небольшие релизы (Small Releases)</li>
                    <li>Разработка через тестирование (Test driven development)</li>
                    <li>Непрерывная интеграция (Continuous Integration)</li>
                    <li>Рефакторинг (Design Improvement, Refactor)</li>
                </ul>
                <h1>Логика и здравый смысл – вот что важно в нашей работе! </h1>
		  </div>
	</div>     
</div>
</div>

<div id="container">
	<div id="content">
		<div id="info5" style="padding-top:230px;"><div class="name">5. Чем? Инструменты!</div>
			<div class="text">
				<div class="foto_bg_right"><img src="images/Chem.jpg" width="341" height="186" alt="Кто? QWER-team." border="0" class="foto"/></div><div style="clear:left"></div>
                <p>Мы не ограничиваем себя каким-то конкретным набором языков программирования или технологий.  Инструменты и технологии – продиктованы нам рынком и потребностями текущего проекта. За время работы мы освоили огромный объем языков программирования и технологий начиная от VBA, MSSQL и ASP, заканчивая Percona Cluster, Ngnix и Java.</p>
            	<p>&nbsp;</p>
                <p>На текущий момент в своей повседневной работе мы используем
Apache, Ngnix, PHP , Symfony,  MySQL, percona,  JQuery / Ajax,  memcached, CruiseControl, JMeter.</p>
            	<p>&nbsp;</p>
                <p>Предпочитаемая ОС Ubuntu</p>
            
		  </div>
	</div> 
</div>
</div>

<div id="container">
	<div id="content">
		<div id="info6" style="padding-top:230px;"><div class="name">6. Сколько? Цены – среднерыночные!</div>
			<div class="text">
				<div class="foto_bg_left"><img src="/bundles/mainsite/imagesSkolko.jpg" width="341" height="186" alt="Кто? QWER-team." border="0" class="foto"/></div><div style="clear:right"></div>
                <h1>Цены – среднерыночные!</h1>
                <p>Поскольку, мы не ставим себе за цель  получение сверхприбыли в краткосрочной перспективе,  мы готовы обсуждать стоимость каждого проекта индивидульно. Корректируя стоимость пропорционально объему работы, который необходимо выполнять! </p>
            	<p>&nbsp;</p>
                <p>Стоимость проекта вычисляем исходя из временных затрат. За основу берется ставка 1500 – 2200у.е. человеко/месяц. Это средняя ЗП PHP разработчика.</p>

		  </div>
	</div> 
</div>
</div>

<div id="container">
	<div id="content">
		<div id="info7" style="padding-top:230px;"><div class="name">7. Вывод: Давайте работать!</div>
			<div class="text">
				<div class="foto_bg_right"><img src="/bundles/mainsite/imagesVuvod.jpg" width="341" height="186" alt="Кто? QWER-team." border="0" class="foto"/></div><div style="clear:left"></div>
                <p>Таким образом : QWER-team – это команда специалистов в области Веб технологий, Целью которых является реализация интересных Интернет проектов. Качество нашей работы гарантируется применением современными инструментами разработки, а также гибкими методологий управления проектами (SCRUM и XP).   При этом стоимость наших услуг приятно Вас удивят! </p>
            	<p>&nbsp;</p>
                <p>Таким образом : QWER-team – это команда специалистов в области Веб технологий, Целью которых является реализация интересных Интернет проектов. Качество нашей работы гарантируется применением современными инструментами разработки, а также гибкими методологий управления проектами (SCRUM и XP).   При этом стоимость наших услуг приятно Вас удивят! </p>
                <p>&nbsp;</p>
                <p>Надеемся, что нам удалось объяснить смысл, который мы вкладываем в эту фразу!  Надеемся, что нам удалось объяснить смысл, который мы вкладываем в эту фразу!  Надеемся, что нам удалось объяснить смысл, который мы вкладываем в эту фразу! </p>
                <p>&nbsp;</p>
                <p>Надеемся, что нам удалось объяснить смысл, который мы вкладываем в эту фразу!  Надеемся, что нам удалось объяснить смысл, который мы вкладываем в эту фразу!  Надеемся, что нам удалось объяснить смысл, который мы вкладываем в эту фразу! </p>
                <p>&nbsp;</p>
                <h1>Будем рады ответить на все интересующие Вас вопросы! </h1>
                <p>Тел. +38(044)3-777-242   |   Моб. +38(067)9388603   |   E-mail: fed@qwer.com.ua</p>

		  </div>
	</div> 
</div>
</div>