{% extends 'MainSiteBundle::layout.html.twig' %}
{% block menu %}
    {{parent()}}
{% endblock %}
{% block body %}

  <style type="text/css">
    body {font-family:Arial, Helvetica, sans-serif; color:#333}#main {font-size:12px; font-style:normal;}  
  </style>
  
<link rel="stylesheet" type="text/css" media="all" href="http://livedemo00.template-help.com/wordpress_37934/wp-content/themes/theme1466/style.css" />

<div id="main"><!-- this encompasses the entire Web site -->
  
<div class="primary_content_wrap">
    <div class="container_12 clearfix">
        <div class="grid_12">
            <div class="indent">
                <div class="header-title"></div>   

                <div id="gallery">
                  <ul class="portfolio">

                      {% for i in 1..3 %}

                      <li class="{% if ( loop.index + 1)  % 3 == 1 %} nomargin {% endif %}">
                        <span class="image-border">
                            <a class="image-wrap" href="http://livedemo00.template-help.com/wordpress_37934/wp-content/themes/theme1466/images/service/service-{{ i }}.jpg" rel="prettyPhoto[gallery]" title="Morbi ornare egestas urna">
                                <img width="290" height="150" src="http://livedemo00.template-help.com/wordpress_37934/wp-content/uploads/2012/02/service-{{ i }}-290x150.jpg" class="attachment-portfolio-post-thumbnail wp-post-image" alt="service-1" title="service-1" />
                                <span class="zoom-icon"></span>
                            </a>
                        </span>
                        <div class="folio-desc">
                          <h3><a href="">Morbi ornare egestas urna</a></h3>
                          <p>Morbi ornare egestas urna, in eleifend urna euismod sit amet. Nulla </p>
                          <a href="" class="button">Read more</a>
                        </div>
                      </li>

                      {% endfor %}
                  </ul>
                  <div class="clear"></div>
                </div>

            	<div class="clear"></div>
            </div>
         </div>
      </div>
   </div>
   
</div><!--#main-->
{% endblock %}