
<div class="block-cart-header">
    <div class="cart_left">
      <h3>Корзина:</h3>
            <div class="block-content">
                                 <a href="{{path('cart')}}"> <p class="empty">{{ col }} товаров - <span class="price">{{ sum|number_format(2, '.', ',') }}</span></p></a>
          
      </div>    
    </div>
    <div class="cart_right"></div>
</div>
  